.App-Header{
    background:rgb(214, 150, 11);
    display: flex;
    justify-content: space-between  ;
    padding: 15px;
    text-align: center;
}
.App-Header li {
    display: inline-block;
    font-size: 20;
    padding: 5px;
    color :black;
}